In [179]:
import pandas as pd

df = pd.read_csv('traffic.csv')
df.head()

              DateTime  Junction  Vehicles           ID
0  2015-11-01 00:00:00         1        15  20151101001
1  2015-11-01 01:00:00         1        13  20151101011
2  2015-11-01 02:00:00         1        10  20151101021
3  2015-11-01 03:00:00         1         7  20151101031
4  2015-11-01 04:00:00         1         9  20151101041

In [180]:
df['DateTime']=pd.to_datetime(df['DateTime'])

df["Year"]=df['DateTime'].dt.year

df["Month"]=df['DateTime'].dt.month

df["Date_no"]=df['DateTime'].dt.day

df["Hour"]=df['DateTime'].dt.hour

df["Day"]= df['DateTime'].dt.strftime("%A")
df

,DateTime,Junction,Vehicles,ID,Year,Month,Date_no,Hour,Day
0,2015-11-01 00:00:00,1,15,20151101001,2015,11,1,0,Sunday
1,2015-11-01 01:00:00,1,13,20151101011,2015,11,1,1,Sunday
2,2015-11-01 02:00:00,1,10,20151101021,2015,11,1,2,Sunday
3,2015-11-01 03:00:00,1,7,20151101031,2015,11,1,3,Sunday
4,2015-11-01 04:00:00,1,9,20151101041,2015,11,1,4,Sunday
...,...,...,...,...,...,...,...,...,...
48115,2017-06-30 19:00:00,4,11,20170630194,2017,6,30,19,Friday
48116,2017-06-30 20:00:00,4,30,20170630204,2017,6,30,20,Friday
48117,2017-06-30 21:00:00,4,16,20170630214,2017,6,30,21,Friday
48118,2017-06-30 22:00:00,4,22,20170630224,2017,6,30,22,Friday
48119,2017-06-30 23:00:00,4,12,20170630234,2017,6,30,23,Friday

In [181]:
df = df.drop(['DateTime', 'ID'], axis=1)
df.head()

   Junction  Vehicles  Year  Month  Date_no  Hour     Day
0         1        15  2015     11        1     0  Sunday
1         1        13  2015     11        1     1  Sunday
2         1        10  2015     11        1     2  Sunday
3         1         7  2015     11        1     3  Sunday
4         1         9  2015     11        1     4  Sunday

In [182]:
df = df[df['Junction']==1]

In [183]:
df.tail()

       Junction  Vehicles  Year  Month  Date_no  Hour     Day
14587         1       105  2017      6       30    19  Friday
14588         1        96  2017      6       30    20  Friday
14589         1        90  2017      6       30    21  Friday
14590         1        84  2017      6       30    22  Friday
14591         1        78  2017      6       30    23  Friday

In [184]:
from sklearn.model_selection import train_test_split

In [185]:
df_train

       Junction  Vehicles  Year  Month  Date_no  Hour        Day
5504          1        27  2016      6       17     8     Friday
1570          1        27  2016      1        5    10    Tuesday
9161          1        74  2016     11       16    17  Wednesday
8337          1        46  2016     10       13     9   Thursday
2527          1        11  2016      2       14     7     Sunday
...         ...       ...   ...    ...      ...   ...        ...
5191          1        21  2016      6        4     7   Saturday
13418         1        44  2017      5       13     2   Saturday
5390          1        28  2016      6       12    14     Sunday
860           1        21  2015     12        6    20     Sunday
7270          1        59  2016      8       29    22     Monday

[11673 rows x 7 columns]

In [186]:
y = []
for i in range(0,len(df)):
    y.append(df.iloc[i,1])

In [187]:
y

[15,
 13,
 10,
 7,
 9,
 6,
 9,
 8,
 11,
 12,
 15,
 17,
 16,
 15,
 16,
 12,
 12,
 16,
 17,
 20,
 17,
 19,
 20,
 15,
 14,
 12,
 14,
 12,
 12,
 11,
 13,
 14,
 12,
 22,
 32,
 31,
 35,
 26,
 34,
 30,
 27,
 27,
 24,
 26,
 29,
 32,
 30,
 27,
 21,
 18,
 19,
 13,
 11,
 11,
 11,
 14,
 15,
 29,
 33,
 32,
 32,
 29,
 27,
 26,
 28,
 26,
 25,
 29,
 26,
 24,
 25,
 20,
 18,
 18,
 13,
 13,
 10,
 12,
 13,
 11,
 13,
 22,
 26,
 27,
 31,
 24,
 23,
 26,
 26,
 24,
 23,
 25,
 26,
 24,
 26,
 24,
 19,
 20,
 18,
 13,
 13,
 9,
 12,
 12,
 15,
 16,
 23,
 24,
 25,
 24,
 26,
 22,
 20,
 20,
 22,
 26,
 22,
 21,
 21,
 21,
 16,
 18,
 19,
 14,
 12,
 13,
 14,
 14,
 13,
 20,
 22,
 26,
 26,
 21,
 23,
 23,
 19,
 19,
 20,
 24,
 18,
 19,
 16,
 17,
 16,
 16,
 10,
 9,
 8,
 7,
 9,
 8,
 12,
 13,
 17,
 14,
 14,
 14,
 14,
 11,
 15,
 13,
 12,
 17,
 18,
 17,
 16,
 15,
 13,
 16,
 11,
 8,
 10,
 10,
 10,
 9,
 11,
 12,
 18,
 14,
 17,
 14,
 14,
 14,
 12,
 14,
 18,
 13,
 16,
 18,
 14,
 14,
 13,
 15,
 11,
 10,
 9,
 8,
 8,
 10,
 11,
 17,
 19,
 22,
 23,
 23,
 24,
 24,
 19,
 19,
 20,
 31,
 25,
 35,
 21,
 24,
 19,
 19,
 18,
 17,
 12,
 10,
 14,
 15,
 14,
 34,
 40,
 38,
 36,
 27,
 48,
 43,
 41,
 35,
 40,
 40,
 40,
 36,
 37,
 35,
 28,
 25,
 19,
 21,
 20,
 15,
 17,
 14,
 19,
 22,
 30,
 26,
 26,
 23,
 23,
 24,
 22,
 24,
 26,
 27,
 22,
 23,
 22,
 22,
 22,
 17,
 15,
 12,
 13,
 9,
 14,
 13,
 15,
 27,
 39,
 40,
 36,
 34,
 33,
 28,
 30,
 26,
 30,
 35,
 38,
 34,
 30,
 27,
 24,
 21,
 16,
 16,
 13,
 11,
 13,
 15,
 17,
 18,
 24,
 41,
 29,
 25,
 25,
 26,
 25,
 24,
 26,
 24,
 28,
 22,
 23,
 18,
 21,
 20,
 15,
 13,
 10,
 10,
 12,
 9,
 11,
 15,
 16,
 16,
 12,
 11,
 14,
 16,
 18,
 13,
 17,
 15,
 19,
 15,
 19,
 15,
 15,
 13,
 14,
 10,
 8,
 9,
 9,
 9,
 9,
 16,
 18,
 18,
 17,
 18,
 14,
 15,
 13,
 15,
 19,
 18,
 21,
 17,
 17,
 15,
 17,
 14,
 13,
 15,
 12,
 12,
 13,
 14,
 13,
 16,
 26,
 21,
 26,
 24,
 26,
 22,
 24,
 26,
 23,
 29,
 31,
 27,
 27,
 26,
 23,
 21,
 19,
 16,
 11,
 11,
 15,
 12,
 12,
 18,
 31,
 42,
 37,
 30,
 33,
 28,
 29,
 28,
 28,
 31,
 28,
 26,
 26,
 27,
 24,
 23,
 20,
 19,
 20,
 16,
 19,
 16,
 17,
 19,
 30,
 44,
 35,
 34,
 31,
 31,
 28,
 34,
 37,
 37,
 34,
 31,
 29,
 28,
 32,
 23,
 20,
 16,
 18,
 17,
 16,
 17,
 18,
 25,
 31,
 32,
 31,
 29,
 31,
 31,
 30,
 28,
 29,
 36,
 29,
 28,
 30,
 29,
 24,
 20,
 15,
 14,
 13,
 8,
 12,
 14,
 15,
 20,
 26,
 26,
 26,
 21,
 26,
 29,
 20,
 22,
 25,
 27,
 26,
 24,
 25,
 21,
 17,
 16,
 15,
 15,
 15,
 8,
 12,
 13,
 12,
 16,
 18,
 17,
 18,
 15,
 21,
 18,
 17,
 17,
 19,
 22,
 18,
 17,
 22,
 17,
 15,
 15,
 11,
 12,
 11,
 8,
 11,
 9,
 8,
 15,
 18,
 18,
 20,
 20,
 20,
 15,
 16,
 16,
 21,
 27,
 26,
 24,
 20,
 20,
 21,
 14,
 16,
 14,
 11,
 11,
 9,
 12,
 16,
 26,
 33,
 35,
 33,
 32,
 28,
 33,
 27,
 24,
 27,
 29,
 26,
 27,
 28,
 26,
 23,
 19,
 18,
 13,
 12,
 13,
 16,
 17,
 23,
 26,
 29,
 28,
 31,
 23,
 28,
 25,
 24,
 27,
 28,
 24,
 29,
 26,
 25,
 23,
 21,
 16,
 16,
 15,
 11,
 9,
 10,
 14,
 17,
 21,
 28,
 30,
 29,
 26,
 26,
 27,
 26,
 23,
 28,
 31,
 26,
 24,
 24,
 21,
 22,
 16,
 13,
 11,
 13,
 12,
 11,
 13,
 11,
 21,
 32,
 33,
 26,
 25,
 30,
 30,
 28,
 25,
 24,
 29,
 31,
 26,
 28,
 21,
 20,
 19,
 14,
 11,
 9,
 11,
 10,
 9,
 16,
 21,
 33,
 29,
 28,
 26,
 27,
 29,
 26,
 27,
 27,
 30,
 24,
 24,
 24,
 23,
 21,
 13,
 16,
 11,
 10,
 8,
 11,
 10,
 16,
 19,
 21,
 25,
 21,
 18,
 18,
 22,
 18,
 16,
 16,
 26,
 28,
 22,
 22,
 21,
 22,
 17,
 13,
 10,
 12,
 12,
 9,
 13,
 14,
 18,
 20,
 21,
 22,
 17,
 20,
 19,
 20,
 20,
 21,
 20,
 22,
 24,
 21,
 18,
 20,
 13,
 15,
 11,
 12,
 11,
 11,
 13,
 16,
 24,
 35,
 34,
 36,
 27,
 33,
 34,
 28,
 27,
 28,
 29,
 31,
 29,
 26,
 24,
 21,
 20,
 18,
 13,
 14,
 11,
 11,
 12,
 16,
 21,
 30,
 29,
 28,
 31,
 26,
 29,
 25,
 25,
 25,
 27,
 27,
 30,
 24,
 26,
 21,
 19,
 18,
 15,
 17,
 13,
 14,
 16,
 18,
 32,
 39,
 39,
 38,
 33,
 33,
 30,
 29,
 28,
 29,
 32,
 35,
 34,
 31,
 27,
 23,
 22,
 15,
 17,
 13,
 12,
 12,
 15,
 17,
 23,
 30,
 31,
 26,
 24,
 30,
 26,
 24,
 28,
 28,
 31,
 30,
 29,
 28,
 22,
 19,
 19,
 16,
 14,
 15,
 14,
 10,
 11,
 14,
 29,
 31,
 32,
 30,
 25,
 30,
 28,
 27,
 26,
 22,
 28,
 27,
 23,
 27,
 20,
 18,
 19,
 15,
 12,
 15,
 7,
 10,
 11,
 13,
 13,
 19,
 17,
 20,
 15,
 17,
 17,
 16,
 17,
 16,
 21,
 19,
 20,
 20,
 21,
 14,
 14,
 12,
 12,
 10,
 8,
 8,
 12,
 11,
 14,
 17,
 17,
 19,
 17,
 13,
 16,
 10,
 18,
 19,
 20,
 21,
 15,
 21,
 19,
 19,
 15,
 13,
 11,
 10,
 9,
 10,
 13,
 20,
 24,
 26,
 32,
 29,
 25,
 28,
 27,
 22,
 25,
 24,
 34,
 30,
 28,
 26,
 27,
 19,
 20,
 17,
 14,
 15,
 12,
 14,
 11,
 16,
 18,
 23,
 28,
 27,
 23,
 26,
 23,
 25,
 23,
 26,
 24,
 25,
 24,
 23,
 21,
 21,
 20,
 18,
 15,
 10,
 11,
 13,
 13,
 14,
 18,
 20,
 26,
 25,
 39,
 36,
 33,
 26,
 25,
 27,
 27,
 29,
 27,
 28,
 26,
 20,
 14,
 14,
 17,
 11,
 12,
 12,
 14,
 14,
 19,
 28,
 26,
 31,
 23,
 24,
 28,
 26,
 26,
 27,
 22,
 25,
 24,
 23,
 22,
 17,
 19,
 16,
 14,
 13,
 10,
 11,
 13,
 12,
 15,
 26,
 33,
 31,
 26,
 30,
 28,
 29,
 23,
 29,
 26,
 29,
 24,
 22,
 23,
 23,
 16,
 12,
 14,
 13,
 11,
 7,
 10,
 12,
 16,
 20,
 15,
 19,
 16,
 14,
 14,
 ...]

In [188]:
X_train , X_test, y_train , y_test = train_test_split(X,y, test_size=0.2, random_state=42)

In [189]:
X_train

       Junction  Year  Month  Date_no  Hour        Day
5504          1  2016      6       17     8     Friday
1570          1  2016      1        5    10    Tuesday
9161          1  2016     11       16    17  Wednesday
8337          1  2016     10       13     9   Thursday
2527          1  2016      2       14     7     Sunday
...         ...   ...    ...      ...   ...        ...
5191          1  2016      6        4     7   Saturday
13418         1  2017      5       13     2   Saturday
5390          1  2016      6       12    14     Sunday
860           1  2015     12        6    20     Sunday
7270          1  2016      8       29    22     Monday

[11673 rows x 6 columns]

In [190]:
day_mapping = {
    'Monday': 0,
    'Tuesday': 1,
    'Wednesday': 2,
    'Thursday': 3,
    'Friday': 4,
    'Saturday': 5,
    'Sunday': 6
}

X_train['Day'] = X_train['Day'].map(day_mapping)
X_test['Day'] = X_test['Day'].map(day_mapping)

In [191]:
import numpy as np 
import pandas as pd 
import os
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import tensorflow
import tensorflow as tf
# from statsmodels.tsa.stattools import adfuller
from sklearn.preprocessing import MinMaxScaler
from tensorflow import keras
from keras import callbacks
from tensorflow.keras import layers, Sequential, callbacks
from tensorflow.keras.layers import Conv2D, Flatten, Dense, LSTM, Dropout, GRU, Bidirectional, Conv1D, MaxPooling1D
from tensorflow.keras.optimizers import SGD, Adam
import math
from sklearn.metrics import mean_squared_error
from tensorflow.keras.optimizers.schedules import ExponentialDecay

# for dirname, _, filenames in os.walk('/kaggle/input'):
#     for filename in filenames:
#         print(os.path.join(dirname, filename))

In [192]:
X_train = np.array(X_train)

In [193]:
X_train[0]

array([   1, 2016,    6,   17,    8,    4], dtype=int64)

In [194]:
X_test= np.array(X_test)

In [195]:
# print(X_train.shape)
# print(y_train.shape)
# print(X_test.shape)
# print(y_test.shape)
y_train = np.asarray(y_train)
y_test = np.asarray(y_test)

In [196]:
X_train[0]

array([   1, 2016,    6,   17,    8,    4], dtype=int64)

In [197]:
from sklearn.metrics import mean_absolute_error


model = Sequential()
model.add(Dense(30, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(10, activation='relu'))
model.add(Dropout(0.2))
model.add(Dense(1))
model.compile(optimizer=Adam(learning_rate=0.1),loss='mean_squared_error')
model.fit(X_train, y_train, epochs=50)
model.predict(X_test)

Epoch 1/50

365/365 ━━━━━━━━━━━━━━━━━━━━ 2s 2ms/step - loss: 27735.7520
Epoch 2/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 2ms/step - loss: 831.7842
Epoch 3/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 698.9800
Epoch 4/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 622.2009
Epoch 5/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 938us/step - loss: 539.3317
Epoch 6/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 947us/step - loss: 516.1294
Epoch 7/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 549.9526
Epoch 8/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 534.3812
Epoch 9/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 862us/step - loss: 549.4016
Epoch 10/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 927us/step - loss: 544.9852
Epoch 11/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 527.4626
Epoch 12/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 530.7094
Epoch 13/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 536.6274
Epoch 14/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 533.6031
Epoch 15/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 924us/step - loss: 541.0756
Epoch 16/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 529.8298
Epoch 17/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 900us/step - loss: 535.0902
Epoch 18/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 525.9941
Epoch 19/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 878us/step - loss: 535.4501
Epoch 20/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 535.6752
Epoch 21/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 522.1158
Epoch 22/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 530.7601
Epoch 23/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 544.6627
Epoch 24/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 536.1596
Epoch 25/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 534.0992
Epoch 26/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 880us/step - loss: 538.5585
Epoch 27/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 537.2730
Epoch 28/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 530.1788
Epoch 29/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 541.6165
Epoch 30/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 910us/step - loss: 547.6021
Epoch 31/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 535.2448
Epoch 32/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 527.1113
Epoch 33/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 863us/step - loss: 543.1896
Epoch 34/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 868us/step - loss: 525.9167
Epoch 35/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 522.8261
Epoch 36/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 819us/step - loss: 536.4469
Epoch 37/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 536.4869
Epoch 38/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 529.0943
Epoch 39/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 526.8972
Epoch 40/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 902us/step - loss: 529.4603
Epoch 41/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 934us/step - loss: 529.6873
Epoch 42/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 525.0685
Epoch 43/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 870us/step - loss: 530.3438
Epoch 44/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 928us/step - loss: 533.7113
Epoch 45/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 533.1062
Epoch 46/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 866us/step - loss: 535.2283
Epoch 47/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 1s 1ms/step - loss: 539.8387
Epoch 48/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 538.3889
Epoch 49/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step - loss: 531.0185
Epoch 50/50
365/365 ━━━━━━━━━━━━━━━━━━━━ 0s 880us/step - loss: 521.4935
92/92 ━━━━━━━━━━━━━━━━━━━━ 0s 1ms/step

array([[45.625324],
       [45.625324],
       [45.625324],
       ...,
       [45.625324],
       [45.625324],
       [45.625324]], dtype=float32)

In [198]:
# len(X_train)

In [199]:
# Pred_MLP = MLP_model(X_train,y_train,X_test, y_test)

In [200]:
def RMSE_Value(test,predicted):
    rmse = math.sqrt(mean_squared_error(test, predicted))
    print("The root mean squared error is {}.".format(rmse))
    return rmse

def MAE_Value(test,predicted):
    mae = mean_absolute_error(test, predicted)
    print("The MAE is {}.".format(mae))
    return mae

#To plot the comparitive plot of targets and predictions
def PredictionsPlot(test,predicted,m):
    plt.figure(figsize=(12,5))
    plt.plot(test, color=colors[m],label="True Value",alpha=0.5 )
    plt.plot(predicted,label="Predicted Values")
    plt.title("Traffic Prediction Vs True values")
    plt.xlabel("DateTime")
    plt.ylabel("Number of Vehicles")
    plt.legend()
    plt.show()

In [201]:
X_train[0]

array([   1, 2016,    6,   17,    8,    4], dtype=int64)

In [202]:
arr = []
arr.append(X_train[0])
val = (model.predict(np.array(arr)))

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 30ms/step

In [203]:
val[0]

array([45.625324], dtype=float32)

In [204]:
model_json = model.to_json()
with open("model1.json", "w") as json_file:
    json_file.write(model_json)

# Save model weights
model.save_weights("model_weights1.weights.h5")

In [205]:
from keras.models import model_from_json

# Load model architecture from JSON file
with open("model1.json", "r") as json_file:
    loaded_model_json = json_file.read()
loaded_model = model_from_json(loaded_model_json)

# Load model weights from the saved file
loaded_model.load_weights("model_weights1.weights.h5")

In [206]:

val = (loaded_model.predict(np.array(arr)))
val[0]

1/1 ━━━━━━━━━━━━━━━━━━━━ 0s 64ms/step

array([45.625324], dtype=float32)